.e-school{
    height: 80px;
    width: 200px;
    margin-top: 20px;
}
.green-button{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
}
.container{
    margin-bottom: 100px;
}
.start-button{
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 20px;
}
.teach-button{
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;

}


.bold h1{
    font-weight: bold;
}
.top-2 img{
    height: 300px;
}
.container-part1{
    background-color: #f8f9fa;
}
.part-2 img{
    height: 100px;
    width: 100px;
    
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    background-color:  #f8f9fa;
    border-radius: 5px;
}
.pro-pad{
    padding-left: 10px;
}
.pad1{
    padding-left: 30px;
}
.card-footer img{
    height: 20px;
    width: 20px;
}
#courses{
    padding-bottom: 60px;
    font-weight: bold;
}

#others{
    padding-bottom: 60px;
    font-weight: bold; 
}
.last-part img{
    height: 140px;
    width: 140px;
    margin-left: 130px;
}
.teacher{
    margin-left: 115px;
}
.done li{
    list-style: none;
}
.finish{
    font-weight: bold;
    font-size: 140%;
}
.bg-color{
   background-color: #4d4d4d;
   color: white;
   height: 300px;
   border-radius: 10px;
   padding-top: 60px;
}